html
    head
        title RESULTS
    body
        h1 Results 
        p=result
        input(
            type="Button"
            onclick="window.location='/'"
            value="Return"
        )
